body {
    margin: 40px;
}

i:focus {
  outline: 1;
border-radius: 10px;
border: 2px solid teal
}

ul {
    list-style: none;
      padding-left: 0
}

h2 {
    color: teal;
}

li {
    /* background-color: grey; */
    margin: 2px;
    padding: 5px;
    border: 1px solid grey;
    display: inline-block;
    width: 600px
}

p {
    color: teal;
    font-size: 20px;
    display: inline-block;
}

/* button {
    margin: 5px;
    background-color: white;
    padding: 2px;
    vertical-align: center;
    display: inline-block
} */

.completed {
    color: grey;
    font-size: 20px;
    display: inline-block;
}



.important {
   color: orange; 
}



.App {
    font-family: sans-serif;
    text-align: center;
}

.fa-calendar-check {
    font-size: 25px; 
    padding-right: 25px
}

.fa-star {
    padding-top: 20px;
    padding-right: 30px;
    font-size: 25px; 
    float: right;
    
}

.fa-trash-alt {
    padding-top: 20px;
    font-size: 25px; 
    color: tomato;
    float: right;
    
}




