ul {
    list-style: none;
      padding-left: 0
}

li {
    /* background-color: grey; */
    margin: 2px;
    padding: 5px;
}

p {
margin: 2px;
padding: 2px 10px 2px 10px;
font-size: 20px;
 color: teal;
 display: inline-block;
}

button {
    margin: 5px;
    background-color: white;
    padding: 2px;
    vertical-align: center;
    display: inline-block
}

 .completed {
    text-decoration: line-through;
    margin: 2px;
    font-size: 20px;
    color: teal;
    display: inline-block;
  }

 
  .important {
   background-color: orange; 
  }

  

  .App {
  font-family: sans-serif;
  text-align: center;

}
