body {
    margin: 40px;
}

i:focus {
  outline: 1;
border-radius: 10px;
border: 2px solid teal
}

ul {
    list-style: none;
      padding-left: 0
}

h2 {
    color: teal;
}

li {
    /* background-color: grey; */
    margin: 2px;
    padding: 5px;
    border: 1px solid teal;
}

p {
margin: 2px;
padding-bottom: 20px;
font-size: 20px;
 color: black;
 display: inline-block;
}

/* button {
    margin: 5px;
    background-color: white;
    padding: 2px;
    vertical-align: center;
    display: inline-block
} */

.completed {
    text-decoration: line-through;
    margin: 2px;
    font-size: 20px;
    color: grey;
    display: inline-block;
}

 
.important {
   background-color: orange; 
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.fa-check-square {
    font-size: 25px; 
    color: teal;
    padding: 2px;
    padding-right: 25px
}

.fa-star {
    font-size: 25px; 
    color: orange;
    padding: 2px;
    padding-left: 100px
}

.fa-trash-alt {
    font-size: 25px; 
    color: tomato;
    margin: 20px 0px 0px 20px;
}
